.navbar-default{
   background-color: #777;
    padding-bottom: 8px;
    border-color: #777;
}
.navbar-nav a{
    color: white!important;
    font-size: 20px;
    margin-top: 10px;
}
.navbar-brand img{
    min-height: 40px;
    min-width: 100px;
    height: 0%;
    width: 0%
}
.navbar-collapse{
    color: grey;
}
.navbar-brand:hover {color:black!important; }
ul.nav a:hover { color:black!important; }